.fridgeClosed {
	background: url("../images/fridgeClosed.jpg")no-repeat;
	/*background-size: 800px;*/
	background-position: center;
	display: block;
	height: 1000px;
	overflow: scroll;
}

.fridgeOpen {
	background: url("../images/fridgeOpen2.jpg")no-repeat;
	/*background-size: 800px;*/
	background-position: center;
	display: block;
	height: 892px;
	overflow: scroll;
}

.smallImg {
	max-width: 70px;
	max-height: 70px;
	border-radius: 100px;
	border: 1px solid red;
}